debug/
build/
objs/
github/
client_body_temp/
CMakeFiles/
fastcgi_temp/
logs/
proxy_temp/
sbin/
scgi_temp/
Testing/
uwsgi_temp/
.cmake/
.idea/
cmake_install.cmake
/CMakeLists.txt
/CMakeCache.txt
/nginx
/Makefile
/nginx.cbp
/Project.cbp


